<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

{% extends 'EXPERT_MODULE/expertindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="ex_aswrk_add">
  <table width="200" border="1" class="table">
    <tr>
      <th scope="row">USER</th>
      <td><label>
        <select name="select">
           {% for i in val %}
          <option value="{{i['login_id']}}">{{i['first_name']}} {{i['last_name']}}</option>
          {% endfor %}
        </select>
      </label></td>
    </tr>
     <tr>
      <th scope="row">TIME</th>
      <td><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">DATE</th>
      <td><label>
        <input type="text" name="textfield2" />
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" value="ADD"  class="btn"></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}