<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'TRAINER_MODULE/trainerindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table">
    <tr>
      <th scope="row">USER</th>
      <td>DOUBTS</td>
      <td>DATE</td>
      <td>RESPONSE</td>
    </tr>
    {% for i in val %}
    <tr>
      <th scope="row">{{i['first_name']}} {{i['last_name']}}</th>
      <td>&nbsp;{{i['doubts']}}</td>
      <td>&nbsp;{{i['date']}}</td>
      {% if i['reply']=='pending' %}
      <td><a href="tr_rpl?id={{i['id']}}#about">REPLY</a></td>
      {% else %}
      <td>{{i['reply']}}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}
