<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'USER_MODULE/userindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table">
    <tr>
      <th scope="row">DATE</th>
      <td>TIME</td>
      <td>TRAINER</td>
    </tr>
    {% for i in val %}
    <tr>
      <th scope="row">{{i['date']}}</th>
      <td>{{i['time']}}&nbsp;</td>
      <td>{{i['first_name']}} {{i['last_name']}}</td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}
