<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'ADMIN_MODULE/adminindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="ad_expert_update">
  <table width="200" border="1" class="table">
    <tr>
      <th scope="row">FIRST NAME</th>
      <td><label>
        <input type="text" name="textfield" value="{{val['first_name']}}" required="" pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">LAST NAME</th>
      <td><label>
        <input type="text" name="textfield2" value="{{val['last_name']}}" required="" pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">PHONE</th>
      <td><label>
        <input type="text" name="textfield3" value="{{val['phno']}}" required="" pattern="[6789][0-9]{9}" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">PLACE</th>
      <td><label>
        <input type="text" name="textfield4" value="{{val['place']}}" pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">POST</th>
      <td><label>
        <input type="text" name="textfield5" value="{{val['post']}}" required="" pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">PIN</th>
      <td><label>
        <input type="text" name="textfield6" value="{{val['pin']}}" required="" pattern="[0-9]{6}" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">EMAIL</th>
      <td><label>
        <input type="text" name="textfield7" value="{{val['email_id']}}" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"/>
      </label></td>
    </tr>

    <tr>
      <th colspan="2" scope="row"><input type="submit"value="ADD"  class="btn"></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}
